
body{
    margin: 0;
    padding: 0;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70%;
    width: 80%;
}
.layout div{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -15px;

}
img{
    height: 250px;
    width: 250px;
    margin-bottom: -10px;
}
.chefs{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image
{
    text-align: center;
    width:90%;
}