
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color :white;
            color: rgb(0, 253, 42);
        }
        header .logo {
            display: flex;
            padding-left: 40%;
            align-items: center;
        }
        header .logo img {
            height: 50px;
            margin-right: 10px;
        }
        nav a {
            margin: 0 10px;
            color: rgb(255, 69, 1);
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .hero {
            background: url('back.jpg') center/cover no-repeat;
            color: white;
            text-align: center;
            padding: 100px 20px;
            position: relative;
        }
        .hero h1 {
            font-size: 3rem;
            margin-bottom: 10px;
        }
        .hero p {
            font-size: 1.2rem;
        }
        .cards {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
        .card {
            background-color: #fdf4e3;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 30%;
            text-align: center;
            padding: 20px;
        }
        .card img {
            width: 100%;
            border-radius: 8px;
        }
        .card h2 {
            margin-top: 15px;
            font-size: 1.5rem;
        }
        footer {
            text-align: center;
            padding: 20px;
            background-color: #ff0000;
            color: white;
        }